{% extends 'base.html' %}

{% block title %}Upload your Reports{% endblock %}

{% block content %}

<div>
  <h1>Upload your Zoom Attendance Reports</h1>
  <a 
    href="https://blogs.otago.ac.nz/zoom/zoom-host-tips/how-to-access-zoom-usage-reports/"
    target="_blank"
    rel="noopener"
  >Click here to learn how to download your zoom attendance reports.</a>
  <hr />
  <div style="padding-left: 50px; padding-bottom: 50px; background-color: #ffabab">
    <h2 style="padding-top: 100px;">Check these boxes always</h2>
    <br />
    <p>Make sure you <b>always</b> checked off these <span style="font-size: 20px;">two boxes</span> when downloading your report.</p>
    <p>This tool <span style="font-size: 30px">will not</span> work otherwise!</p>
    <img
      width="600px"
      src="https://i.imgur.com/Vh9uTCt.png"
      alt="Screenshot from zoom showing the two checkboxes you must select for this to work (Export with meeting data, and Show unique users)"
    />
  </div>
  <hr />
  <h3>Upload your CSV Files here:</h3>
  <p>You must upload them all at once.</p>
  <p>First download them all, then upload them all in one shot.</p>
  <br />
  <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
