<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <style>
      .errorlist {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Zoom Attendance Report Aggregator</h1>
    <h3><a href="{% url 'login' %}">Login</a></h3>
    <h3><a href="{% url 'logout' %}">Log Out</a></h3>
    <h3><a href="{% url 'register' %}">Make Account</a></h3>
    <h3><a href="{% url 'faq' %}">FAQ</a></h3>
    <h3><a href="{% url 'file_upload' %}">Upload Reports</a></h3>
    {% if messages %}
      <h2 style="color: blue;">Messages!</h2>
      <ul class="messages">
      {% for message in messages %}
        <li>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span style="color: red">Important: </span>{% endif %}
          {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <hr />
    <br />
  {% block content %}{% endblock %}
  </body>
</html>
