<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <style>
      html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      .errorlist {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Zoom Attendance Report Aggregator</h1>
    <h3><a href="{% url 'login' %}">Login</a></h3>
    <h3><a href="{% url 'logout' %}">Log Out</a></h3>
    <h3><a href="{% url 'register' %}">Make Account</a></h3>
    <h3><a href="{% url 'file_upload' %}">Make Your Report</a></h3>
    <h3>
      <a href="{% url 'download_previous_reports' %}"
        >Download Previous Reports</a>
    </h3>
    {% if messages %}
      <h2 style="color: blue;">Messages!</h2>
      <ul class="messages">
      {% for message in messages %}
        <li>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span style="color: red">Important: </span>{% endif %}
          {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <hr />
    <br />
    <div style="margin-bottom: 50px">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
