{% extends 'base.html' %}

{% block title %}Account Verified!{% endblock %}

{% block content %}
<h1>Account Verified!</h1>
<p>
  Your account has been verified! You will be redirected to the attendance
  report aggregator tool in:
</p>
<h3 id="countdown">5</h3>

  <script>
    const countdown = document.getElementById('countdown')
    for (let i = 4; i > 0; i--) {
      setTimeout(() => {
          countdown.innnerText = i
        },
        i * 1000
      )
    }
    setTimeout(() => {
      location.replace('{{ redirect_url }}')
    }, 5000)
  </script>


{% endblock %}

