{% extends 'base.html' %}

{% block title %}Your Report is Processing{% endblock %}

{% block content %}

<div>
  <h1>Report is Processing</h1>

  <h3>Made a mistake?</h3>
  <form action={% url 'monitor_progress' %} method="POST">
    {% csrf_token %}
    <input type="submit" value="Cancel Meeting" />
  </form>


  {% if len_queue != 0 %}

    <p>
      Connecting the names each student uses on zoom with their real names
      is quite slow! There are currently {{ len_queue }} meetings in the queue.
      Feel free to close this window and come back later to download your
      report, or if you stay on this page, it will keep updating automatically.
    </p>
    <script>
      // refresh every 5 seconds.
      setTimeout (() => {
        location.replace(window.location)
      }, 5000)
    </script>


  {% else %}

    <h2>Your report is being processed now!</h2>
    <h3>Meetings processed:</h3>
    <h1>{{ processed_meeting_names|length }}</h1>
    <ul style="margin-bottom: 10rem;">
      {% for meet in processed_meeting_names %}
        <li>{{ meet }}</li>
      {% endfor %}
    </ul>

  <script>
    // refresh every 2 seconds
    setTimeout(() => {
      location.replace(window.location)
    }, 2000)
  </script>

  {% endif %}

</div>

{% endblock %}
